:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --primary-color-rgba: rgba(283,75,43,0.08);
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-hieght: 120px;
    --header-with-search-height: calc(var(--header-hieght) - var(--navbar-height));
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row {
    display:flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.grid__column2 {
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667;
}

.grid__column10 {
    padding-left: 12px;
    padding-right: 12px;
    width: 833.3334px;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}