.header {
    height: 120px;
    background-image: linear-gradient(0,#ff6535,#8c291a);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    list-style-type: none;
    margin-top: 4px;
}

.header__nav-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__nav-item--has-qr:hover .header__qr {
    display: block;
}

.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight:300;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__nav-item--strong {
    font-weight: 400;
}

.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    right: -9px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__nav-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}

.header__nav-title--no-pointer {
    cursor:text;
    color: var(--white-color)
}

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 110%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
    position: absolute;
    width: 186px;
    height: 32px;
    content: "";
    display: block;
    top: -20px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.header__qr-download-img {
    height: 18px;
    width: 90%;
}