.header {
    height: 120px;
    background-image: linear-gradient(0,#ff6535,#8c291a);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__nav-list {
    list-style-type: none;
    margin-top: 4px;
}

.header__nav-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__nav-item--has-qr:hover .header__qr {
    display: block;
}

.header__nav-item--has-notify:hover .header__notify {
    display: block;
}

.header__nav-item,
.header__nav-item-link {
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight:300;
}

.header__nav-item,
.header__nav-item-link,
.header__nav-icon-link {
    display: inline-flex;
    align-items: center;
}


.header__nav-item:hover,
.header__nav-item-link:hover,
.header__nav-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor:pointer;
}

.header__nav-item--strong {
    font-weight: 400;
}

.header__nav-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    right: -9px;
    height: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__nav-icon {
    font-size: 1.8rem;
    margin: 0 8px;
}

.header__nav-title--no-pointer {
    cursor:text;
    color: var(--white-color)
}

.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 110%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.header__qr::before {
    position: absolute;
    width: 186px;
    height: 32px;
    content: "";
    display: block;
    top: -20px;
    left: 0;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.header__qr-download-img {
    height: 18px;
    width: 90%;
}

/* NOTIFY */

.header__notify {
    display: none;
    position: absolute;
    top:120%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border:1px solid #d3d3d3 ;
    border-radius: 2px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease 0.25s;
    will-change: opacity, transform;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0)
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes growth {
    from {
        transform: scale(var(--grow-from));
    }
    to {
        transform: scale(var(--grow-to));
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header::before {
    content: "";
    position: absolute;
    right: 4px;
    top: -28px;
    width: 150px;
    height: 40px;
}
.header__notify-header::before {
    content: "";
    position: absolute;
    right: 0;
    top: -40px;
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
    padding-left: 0;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewe {
    background-color: var(--primary-color-rgba);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-bottom: 4px;
    line-height: 1.8rem;
}
.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 4px;
}
.header__notify-footer {
    text-align:center;
    display: block;
}
.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.8rem 1.6rem;
    font-weight: 100;
}

/* modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    margin: auto;
    position: relative;
    z-index: 1;
    --grow-from: 0.7;
    --grow-to: 1;
    animation: growth linear 0.1s;
}

/* Authen modal */

.auth-form {
    width: 500px;
    border-radius: 4px;
    overflow: hidden;
    background-color: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: var(--text-color);
    padding: 10px 0;
}

.auth-form__swith-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color:#777;
}

.auth-form__aisde {
    margin-top: 20px;
}

.form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
/* bt style */
.btn {
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials-icon-fb {
    background-color: #3a5a98;
    color: var(--white-color);
}

.auth-form__socials-icon-gg {
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials-icon.auth-form__socials-icon-fb {
    color: var(--white-color);
}

.auth-form__socials-title {
    margin: 0 16px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-links {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393
}

.auth-form__help-separat {
    display: block;
    border-left: 1px solid #eaeaea;
    height: 20px;
    margin: 4px 16px 0;
}

.auth-form__help-fogot {
    color : var(--primary-color);
}